/* CSS Document */

@font-face {
  font-family: Mickey;
  src: url(MICKEY.TTF);

}

*, *::after, *::before {
  box-sizing:border-box;
}


html {
  height:100%;
}

body{
  margin:0;
  padding: 0;
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

header{
  position: relative;
  top:0;

}


h1 {
  color:black;
  text-align: center;
  margin-top: 1.5em;
  font-family: Mickey;
  color: #ffff;
  font-size: 2.5em;

}

p{
  text-align: center;
  font-family:'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: #ffff;
  font-size: 15pt;



}

img:first-of-type{
  object-fit: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

section img{
    object-fit: contain;
    position: absolute;
    top: 15em;

  }

section img:first-of-type{
  width:8%;
  height:auto;
  margin-left: 12em;
  margin-top: 11.5em;
}

section img:nth-of-type(4){
  width:32%;
  height:auto;
  margin-left: 0em;
}



section.vliegen img{
  animation-name: vliegen1;
  animation-duration: 6s;
  animation-fill-mode: forwards;


}
@keyframes vliegen1{

  0%{
    left:0%;
}

  100%{
    left:63%;

  }

}


section.vliegen img:first-of-type{
  animation-name:mickeyvliegen;
  animation-duration: 6s;
  animation-fill-mode: forwards;

}

@keyframes mickeyvliegen {

  0%{
    left:0%;
    opacity: 1;
}

25%{
  opacity: 0;


}

  100%{
    left:63%;
    opacity: 0;

  }

}



.button{
  position: fixed;
  bottom: 3em;
  left:50%;
  transform:translateX(-50%);
  background-color: white;
  color:black;
  padding: 1em 2em;
  margin:0;
  font-family:'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size:16pt;
  text-decoration: none;
  cursor: url('../images/handje.png'); /* gaat nog niet goedc*/
  border-radius: .7em;
  border:.08em  solid #000;
}

.button:hover{
  background: rgb(106,106,106);
  background: linear-gradient(0deg, rgba(106,106,106,1) 0%, rgba(203,203,203,1) 100%);
  color: white;
  transition: .5s;
}

.button:visited{
}

.button:active{
  box-shadow: .25em .7em rgba(0,0,0,80);
  transition: .1s;

}


/* mickey 1930 */

section img:nth-of-type(2){
  width:10%;
  height:auto;
  margin-left: 12em;
  margin-top: -4em;
  opacity: 0;

}

section.vliegen img:nth-of-type(2){
  animation-name:mickeyvliegen2;
  animation-duration: 6s;
  animation-fill-mode: forwards;

}

@keyframes mickeyvliegen2 {

  0%{
    left:0%;
    opacity: 0;
}

50%{
  opacity: 1;

}

70%{
  opacity: 0;

}

  100%{
    left:63%;
    opacity: 0;

  }

}
/* mickey 1930 */

section img:nth-of-type(3){
  width:8%;
  height:auto;
  margin-left: 12em;
  margin-top: -4em;
  opacity: 0;


}

section.vliegen img:nth-of-type(3){
  animation-name:mickeyvliegen3;
  animation-duration: 6s;
  animation-fill-mode: forwards;

}

@keyframes mickeyvliegen3 {

  0%{
    left:0%;
    opacity: 0;
}


50%{
  opacity: 0;

}

70%{
  opacity: 1;

}


  100%{
    left:63%;
    opacity: 0;

  }

}
