/* CSS Document */

@font-face {
  font-family: Mickey;
  src: url(MICKEY.TTF);

}

*, *::after, *::before {
  box-sizing:border-box;
}


html {
  height:100%;
}

body{
  margin:0;
  padding: 0;
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

header{
  position: relative;
  top:0;

}


h1 {
  color:black;
  text-align: center;
  margin-top: 1.5em;
  font-family: Mickey;
  color: #ffff;
  font-size: 3em;

}

p{
  text-align: center;
  font-family:'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: #ffff;
  font-size: 15pt;



}

/*Achtergrond*/

img:first-of-type{
  object-fit: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

/*list stijlen*/
ul{
  list-style: none;
}

/*stijling 1928*/
ul li img:first-of-type{
  width:32%;
  height:auto;
  margin-left: 0em;
  margin-top: 15em;
  z-index: 1;
}

/*Animatie vliegtuig vliegen*/

.vliegen{
  animation-name: vliegen1;
  animation-duration: 6s;
  animation-fill-mode: forwards;

}
@keyframes vliegen1{

  0%{
    left:0%;
}

  100%{
    left:63%;

  }
  99%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }

}


/*Stijlen mickey 1930*/
ul li img:nth-of-type(2){
  width:30%;
  height:auto;
  margin-left: 0em;
  margin-top: 4em;
  z-index: 0;


}


/*Animatie mickey 1930*/
.vliegentwee{
  opacity: 1;

}

/* mickey 1928 weg halen*/
.vliegenweg{
  opacity: 0;
}


/*Bron:VIDii 21-22 - VID 2 - lay-out slide intro flex box*/
footer{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 3em;
  /*Bron: Sanne in de les*/
  left:50%;
  transform:translateX(-50%);


}

/*Stijling van de button*/
button{
  flex-grow: 1;
  background-color: white;
  color:black;
  padding: 1em 2em;
  margin:0;
  font-family:'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size:16pt;
  text-decoration: none;
  border-radius: .7em;
  border:.08em  solid #000;
  margin-left: 1em;

}


}

li{
 display: inline-block;
}

button:hover{
  background: rgb(106,106,106);
  background: linear-gradient(0deg, rgba(106,106,106,1) 0%, rgba(203,203,203,1) 100%);
  color: white;
  transition: .5s;
}

button:visited{
}

button:active{
  box-shadow: .25em .7em rgba(0,0,0,80);
  transition: .1s;

}


/* mickey 1930 */
